<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="fontsize" value="14"/>
    <add key="fontname" value="Microsoft YaHei UI"/>
    <add key="maxdisplaywidth" value="800"/>
    <add key="backgroundcolor" value="#cce8d0"/>
    <add key="shelfpath" value=""/>
    <add key="dividelimit" value="12800"/>
    <add key="paragap" value="15"/>
    <add key="lineheight" value="20"/>
    <add key="interval" value="1000"/>
    <add key="waitbefore" value="8"/>
    <add key="waitafter" value="15"/>
    <add key="chapterdivide" value="True"/>
    <add key="longdivide" value="False"/>
    <add key="isitalic" value="Normal"/>
    <add key="isbold" value="Normal"/>
    <add key="fontcolor" value="#000000"/>
    <add key="rg" value="\b第([0-9]{1,4}|[一二三四五六七八九十两百千零○〇廿卅卌]{1,7})[章节回]( .*)?(?=\r\n)"/>
  </appSettings>
</configuration>
